<nav class="navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="#/"><span class="glyphicon glyphicon-heart-empty" style="color: #00e6b8;font-size: 30px;margin-left: 20px;margin-top: 10px;" aria-hidden="true"></span></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li id="linkLi" style="margin-top: 10px;"><a id="navlink" href="#/ourstory">Our Story <span class="sr-only">(current)</span></a></li>
            <li id="linkLi" style="margin-top: 10px;" class="current"><a id="navlink" href="#/hotel">Hotel</a></li>
            <li id="linkLi" style="margin-top: 10px;"><a id="navlink" href="#/registry">Registery</a></li>
    </div>
</nav>
<div class="sub-container container-full" id="hotel">
    <h1 id="storyTitle"> HOTEL BLOCK INFORMATION</h1>
    <div class="hotelInfo">
        <p>
            A block of rooms has been reserved at the <a id="hotelLink" href- "http://hamptoninn3.hilton.com/en/hotels/maryland/hampton-inn-and-suites-frederick-fort-detrick-FDRHSHX/index.html">Hampton Inn & Suites- Fort Detrick Hotel</a>, located at 1565 Opossumtown Pike. </br>
            </br> It is the closet hotel to Springfield Manor, the wedding venue. </br>
            </br>Rate are as follows: </br>
            <strong>$122.00 + tax per night</strong> (two queens or one king bed)</br>
            <strong>$142.00 + tax per night </strong>(studio room) </br>
            <p>To book at these rates, please use our special group code: <span style="color: #00e6b8;"><strong> TSW </strong></span></p>
            <ul>
                <strong>Amenities include:</strong>
                <li> Free hot breakfast </li>
                <li> Free WiFi</li>
                <li> microwave & refrigerator in each room</li>
                <li> indoor pool, whirlpool, fitness room</li>
            </ul>
            <p>Check in- 3:00pm </br>
                Check out- noon</p>
        </p>
    </div>
</div>