<nav class="navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="#/"><span class="glyphicon glyphicon-heart-empty" style="color: #00e6b8;font-size: 30px;margin-left: 20px;margin-top: 10px;" aria-hidden="true"></span></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li style="margin-top: 10px;" id="linkLi"class="current"><a id="navlink" href="#">Our Story <span class="sr-only">(current)</span></a></li>
             <li style="margin-top: 10px;" id="linkLi"><a id="navlink" href="#/hotel">Hotel</a></li>
            <li  style="margin-top: 10px;" id="linkLi" ><a id="navlink" href="#/registry">Registery</a></li>
    </div>
</nav>
<div class="sub-container container-full" id="story">
    <h1 id="storyTitle"> Roby and Julie’s Love Story </h1>
    <div class="ourStory">
        <p>
            The story began in 2006 at TJ High School. <span style="color: #00e6b8">Julie</span> was a sophomore, <span style="color: #00e6b8">Roby</span> a junior, and they met through mutual friends. <span style="color: #00e6b8">Julie and Roby</span> enjoyed dating through high school- going to school dances, attending each other’s sporting events and going out for sushi. In 2007 <span style="color: #00e6b8">Roby</span> graduated from TJ and went to play soccer at University of Richmond, while <span style="color: #00e6b8">Julie</span> graduated in 2008 and went to swim at University of Maryland.<br><br>
            Long distance and opposing seasons made dating in college difficult, but this time apart was valuable in personal growth. While finishing college, <span style="color: #00e6b8">Roby </span>experienced the passing of his mother, which proved to be challenging for their relationship and his family. Through this time, <span style="color: #00e6b8">Roby</span> chose to move back to Maryland, which brought him and <span style="color: #00e6b8">Julie</span> even closer. <br><br>
            <span style="color: #00e6b8">Julie and Roby</span> have supported each other, both personally and professionally throughout their transition from college into the working world. Living in New Market, Maryland, <span style="color: #00e6b8">Roby and Julie</span> happily adopted their puppy, <span style="color: #00004c">Maddox</span>, in the spring of 2014. On July 1, 2015, <span style="color: #00e6b8">Roby</span> took <span style="color: #00e6b8">Julie</span> on a picnic and asked her to be his forever. Through all the tears, <span style="color: #00004c">Julie said yes!</span> <br><br>
            <span style="color: #00e6b8">Roby and Julie</span> are happy to join the 2% of couples who marry their high school sweetheart. No matter the distance, odds or circumstances, when they got to see each other again everything fell back into place. The theme for their wedding is <span style="color: #00004c">“it was always you,”</span> and they can’t wait to embark on this new journey together.
        </p>
    </div>
</div>